<%- include('../../partials/header.ejs') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../partials/sidebar.ejs') %>
            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 offset-md-2 my-4">
                        <div class="card card-body my-3">
                            <h5 class="text-primary">
                                Change My Password
                            </h5>

                            <form action="/auth/change-password" method="POST">
                                <div class="form-group my-2">
                                    <label for="oldPassword">Enter your old password</label>
                                    <input type="password" class="form-control" name="oldPassword" id="oldPassword">
                                </div>
                                <div class="form-group mb-2">
                                    <label for="newPassword">Enter your new password</label>
                                    <input type="password" class="form-control" name="newPassword" id="newPassword">
                                </div>
                                <div class="form-group mb-2">
                                    <label for="confirmPassword">Confirm your password</label>
                                    <input type="password" class="form-control" name="confirmPassword"
                                        id="confirmPassword">
                                </div>

                                <input type="submit" class="btn btn-primary my-2" value="Update Password">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <%- include('../../partials/footer.ejs') %>

        <%- include('../../partials/bootstrapCdnJs.ejs') %>

            </body>

            </html>