<%- include('../../partials/header.ejs') %>

    <div class="container my-4">
        <div class="bg-primary p-4">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, exercitationem.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum, ex aut doloremque assumenda sapiente
                voluptas architecto maxime doloribus alias.</p>
        </div>
    </div>


    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>