* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: rgb(245, 245, 245);
}

/* ################ Footer ################# */
footer {
  position: absolute;
  bottom: 0;
}

.footer {
  width: 100vw;
  height: 60px;
  padding: 20px 0;
}

.footer p {
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer span {
  font-weight: bold;
  opacity: 0.7;
}
/* ################ End of Footer ################# */
